* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  height: 80px;
  width: 100%;
  display: table;
}
.cell-one {
  width: 50%;
  display: table-cell;
}
.cell-two {
  width: 50%;
  display: table-cell;
  text-align: end;
}
#logo {
  height: 40px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 20px;
  float: left;
}

#menu-button {
  float: right;
  padding-top: 10px;
  padding-right: 10px;
  height: 40px;
  width: 40px;
}

#center-image {
  position: absolute;
  display: block;
  top: 70px;
  z-index: -1;
  max-width: 100%;
}

h1 {
  color: white;
  line-height: 500px;
  text-align: center;
  font-size: 40px;
  font-style: italic;
}

.container {
  background-color: lightgrey;
  display: table;
  height: 50vh;
  border: 1px solid black;
  z-index: -1;
  text-align: center;
  padding-top: 50px;
  max-width: 100%;
}

.column-one {
  display: table-cell;
  display: inline;
  width: 25%;
  padding: 10px;
  float: left;
}

.column.two {
  display: table-cell;
  display: inline;
  width: 25%;
  padding: 10px;
  float: right;
}

.container-two {
  display: table-cell;
  text-align: center;
  padding-top: 50px;
}

.container.column:one {
  width: 25%;
}

#cat {
  height: 100px;
}

#atlas {
  height: 100px;
}

#swim {
  height: 100px;
}

#building {
  height: 100px;
}

.container.column {
  display: table-cell;
  top: 0;
  left: 0;
}

footer {
  background-color: dimgray;
  display: block;
  position: absolute;
  z-index: -1;
  padding-left: 20px;
  width: 100%;
}
